body {
    font-family: poynter-oldstyle-text, serif;
    background-color: #7A9FBF;
    margin: 10px;
    padding: 0;
}

.title {
    font-size: 7vw;
    font-weight: 400;
    line-height: 80%;
    color: #735A3C;
}

.author {
    font-size: 3vw;
    margin-left: 14em;
    color: #836A4A;
}

.poem {
    font-size: 2vw;
    margin: 10em;
    padding: 10em;
    line-height: 200%;
}
.stanza1 {
    color: #D9BC9A;
}

.stanza2 {
    color: #D9BC9A;
}

.stanza3 {
    color: #D9BC9A;
}

.stanza4 {
    color: #D9BC9A;
}

@media screen and (max-width: 767px) {
    body {
        background-color: #7A9FBF;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    body {
        background-color: #7A9FBF;
    }
}